<pre class="slide-bar-container noselect" [class.slide-bar-clicked]="_clicked">
  <table class="wrapper-table">
    <tr>
      <td class="labelContainer"><span class="lable">{{_labelText}}</span></td>
      <td class="spacer">&nbsp;</td>
      <td class="sliderContainer"><span class="leftButton" (click)='decreaseValue()'>&lt;</span><span class="slideBar">{{_slidebarChar.repeat(_value - _minValue - 1)}}<span>{{_slidebarValueIndicatorChar}}</span>{{_slidebarChar.repeat(_maxValue - _value)}}</span><span class="rightButton" (click)='increaseValue()'>&gt;</span></td>
    </tr>
  </table>
</pre>