[Unit]
Description=Smart-Onion Configurator Service

[Service]
Type=simple
User=smartonion_services
Group=smartonion_services
ExecStart=/opt/smart-onion/code/backend/python2_7/services/configurator/configurator.py

[Install]
WantedBy=multi-user.target
