[Unit]
Description=Smart-Onion Timer Service
After=smart-onion-configurator.service smart-onion-metrics_collector.service kafka-server.service

[Service]
Type=simple
User=smartonion_services
Group=smartonion_services
ExecStart=/opt/smart-onion/code/backend/python3_5/services/timer_service/timer.py

[Install]
WantedBy=multi-user.target
