<div class="row">
    <div class="col-md-1">&nbsp;</div>
    <div class="col-md-10">
        <div id="question_header" class="header2">How would you categorize the following anomaly?<app-cursor></app-cursor></div>
        <div id="question" class="question">{{cur_question.description}}</div>
        <div id="answers_header" class="header2">Categories:</div>
        <div id="answers" class="answers"><app-slide-bar-group></app-slide-bar-group><div id="categories"></div></div>
    </div>
    <div class="col-md-1">&nbsp;</div>
</div>
<div class="row">
    <div id="submit_button_container" class="col-xs-12 submit_button_container">
      <table class="buttons-container">
        <tr>
          <td class="submit-answer-button-container">
            <app-text-button text="Submit answer" width=25 (click)="onSubmitAnswer($event);" disabled="true"></app-text-button>
          </td>
          <td class="reset-categories-button-container">
              <app-text-button text="Reset categories" width=25 (click)="onResetCategories($event);" disabled="true"></app-text-button>
          </td>
          <td class="skip-to-grade-button-container">
            <app-text-button text="Skip to grade" width=25 (click)="onSkipToGrade($event);" disabled="true"></app-text-button>
          </td>
        </tr>
      </table>
    </div>
</div>
