<pre class="text-button-container noselect" [class.disabled]="_disabled">
  <table class="text-button" [class.disabled]="_disabled">
    <tr>
      <td class="corner top-left-corner">{{_cornersChar[0]}}</td><td class="border top-border">{{_topBorderChar.repeat(_width - 2)}}</td><td class="corner top-right-corner">{{_cornersChar[0]}}</td>
    </tr>
    <tr>
      <td class="border left-border">{{_leftBorderChar[0]}}</td><td class="text">{{_text}}</td><td class="border right-border">{{_rightBorderChar[0]}}</td>
    </tr>
    <tr>
      <td class="corner bottom-left-corner">{{_cornersChar[0]}}</td><td class="border bottom-border">{{_bottomBorderChar.repeat(_width - 2)}}</td><td class="corner bottom-right-corner">{{_cornersChar[0]}}</td>
    </tr>
  </table>
</pre>
